@import "@/styles/main.css";

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 25rem;
  overflow: hidden;

  background: var(--gradient);

  @media screen and (min-width: 425px) {
    height: 30rem;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 30rem;
    padding: 0 22.5rem;
  }

  @media screen and (min-width: 1024px) {
    height: 37.5rem;
  }
}

.banner__image {
  width: 100%;
  object-fit: cover;
  object-position: bottom;

  @media screen and (min-width: 426px) {
    content: url("/images/tecboard-banner-768.png");
    width: 47.75rem;
    height: 24.4375rem;
  }

  @media screen and (min-width: 1024px) {
    content: url("/images/tecboard-banner-1024.png");
    width: 70.25rem;
    height: 36.8125rem;
    flex-shrink: 0;
  }
}
